// Styling for the services section
.service-heading {
  margin: 15px 0;
}

.service-heading-special {
  margin: 15px 0;
  font-size: 90%;
}

ul.about-ul {
  margin-left: 30%;
}

li.about-list {
  text-align: left;
  font-size: 120%;
}

p.sctext {
  font-size: 110%;
}
